:root {
	/* PRIMARY */
	--color-primary-1: #004f78;
	--color-primary-2: #0e4461;
	--color-primary-3: #08293c;

	/* LIGHT */
	--color-light-1: #ffffff;
	--color-light-2: #f5fbff;
	--color-light-3: #e9f4ff;

	/* SOFT */
	--color-soft-1: #b7e6ff;
	--color-soft-2: #8cc1de;
	--color-soft-3: #4fc3ff;

	/* GRAY */
	--color-gray-1: #667288;
	--color-gray-2: #282c33;
	--color-gray-3: #191b1e;

	/* DARK */
	--color-dark-1: #000d21;
	--color-dark-2: #020a16;
	--color-dark-3: #090d14;

	/* BASE */
	--color-black: #000000;
	--color-white: #ffffff;

	/* AUX */
	--color-aux-blue: #0091c3;
}
