@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: var(--bg-page);
    --background-end-rgb: var(--bg-page);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  cursor: default;
    /* box-shadow: red 0px 0px 0px 1px; */
}

body {
    background-color: var(--bg-page);
    font-family: var(--font-fira-code), monospace;
    color: var(--text-primary);
}
/* Overlay para animação da esquerda pra direita */
* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#logo {
  color: aqua;
}