RewriteEngine On
RewriteRule ^pt/about/?$ /pt/about/ [R=301,L]
RewriteRule ^en/about/?$ /en/about/ [R=301,L]
RewriteRule ^pt/projects/?$ /pt/projects/ [R=301,L]
RewriteRule ^pt/projects/(.+)$ /pt/projects/$1 [R=301,L]
RewriteRule ^en/projects/?$ /en/projects/ [R=301,L]
RewriteRule ^en/projects/(.+)$ /en/projects/$1 [R=301,L]

ErrorDocument 404 /404.html
