@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
    --textColor: #fff;
    --iconColor: #fff;
    --bgColor: #000;
    --buttonColor: #404040;
}

* {
    /* box-shadow: red 0px 0px 0px 1px; */
}

body {
    background-color: var(--bgColor);
    font-family: var(--font-poppins), sans-serif;
    color: var(--textColor);
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-shadow: 1px 1px 1px #1FCEF9;
    font-size: 30px;
    margin-left: 20px;
}
.color {
    fill: var(--iconColor);
}
a {
    border: solid 1px #1FCEF9;
    color: var(--textColor);
    text-align: center;
    text-decoration: none !important;
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border-radius: 20px; */
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg {
    width: 30px;
    color: var(--textColor);
      fill: white;
        stroke: white;


}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border: solid 2px #1FCEF9;
    margin-top: 50px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}
h1 {
    text-shadow: 1px 1px 3px #1FCEF9;
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 170px;
}
section {
    margin: 0 20%;
    width: 600px;
    min-width: 300px;
}
a:hover {
    background-color: #1fcdf904;
    box-shadow: 2px 2px 2px #1FCEF9;
    transition: 200ms;
}



.bordao1{
    border: 5px solid red;
}
.nav{
    background-color: #0F172A;
    padding: 0rem 1rem 1rem 1rem;
}
.headlinks{
    background-color: #0F172A;
   display: flex;
   justify-content: flex-end;
   position: fixed;
  top: 0;
  left: 0rem;
  width: 100%;
  z-index: 999;
    
}
.headlinks a{
    font-size: 2.4rem;
    color: #ffffff;
    text-decoration: none;
    padding:2rem;
}
.exper img {
    height: 20rem;
    width: 20rem;
}
.start{
    padding: 10rem 0rem 8rem 3rem;
    max-width: 96rem;
    margin:0 auto;
    display:flex;
}
.start_text{
    padding: 0rem 0rem 0rem 5rem;
 margin: auto 0;
}
.start img{
    height: 30rem;
    width: 30rem;
    border-radius:100%;
    margin:0 auto
}
.ap_title{
    font-size: 4.4rem;
    margin:1rem;
    padding-left: 5rem;
}
.ap{
    background-color: #162340;
}
.ap_content{
    padding:2rem 2rem;
    margin: 0 auto;
    max-width: 90rem;
}
.ap_p{
    padding-left:5rem;
}
.com_png{
    border-radius:10%;
}
.exper{
    padding:4rem;
    max-width: 100rem;
    margin:0 auto;
}
.exper_com{
display:flex; 
padding-top:4rem;
}
.exper_title{
    font-size:4.4rem;
    margin:1rem;
    padding-left: 5rem; 
    padding-top:2rem;
}
.com_name{
    padding-left:5rem;
   
}
.com_text{
    padding-left:8rem;
    padding-right: 10rem;
}
.links a { 
    font-size: 2.4rem;
    color: #ffffff;
    text-decoration: none;
    padding: 3rem;
}
.links{
    max-width:50rem;
    margin:0 auto
}
.end{
    font-size: 1.4rem;
    padding-top: 3rem;
    max-width: 18rem;
    margin:auto;
}